# Compiled output
/web/dist
/web/tmp
/web/out-tsc
/web/bazel-out
/server/dist
/server/tmp
/server/out-tsc
/server/bazel-out

# Node dependencies
/web/node_modules
/server/node_modules
npm-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/

# Angular cache and temporary files
/web/.angular/cache
/web/.angular/*
!/web/.angular/settings.json

# SASS cache
.sass-cache/

# Temporary files
/connect.lock
/coverage
/server/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Logs and reports
*.log
*.log.*
