<div class="timeline-container min-h"
    [ngStyle]="timelineList.length > 0 ? {' min-height': 'fit-content'} : {' min-height': '120px'} ">
    <div class="ruler">
        <div *ngFor="let second of createArray(totalDuration); let i = index"
            class="tick">
            {{ i + 1 }}
        </div>
    </div>

    <div class="timeline-track"
        cdkDropList
        cdkDropListOrientation="horizontal"
        id="timeline"
        #timeline="cdkDropList"
        [cdkDropListData]="timelineList"
        [cdkDropListConnectedTo]="['scenes']"
        (cdkDropListDropped)="onDrop($event)">
        <div *ngFor="let file of timelineList; let i = index"
            class="timeline-item"
            cdkDrag
            [style.flexGrow]="file.duration"
            style="flex-basis: 0;">
            <div class="frame"
                *ngFor="let frame of file.frames; let s = index">
                <img [src]="frame"
                    alt="Frame"
                    class="thumbnail" />
            </div>
        </div>
    </div>


</div>