ul {
  list-style: none;
  padding: 0;
}

img {
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #b91c1c; /* Darker red for hover */
}

.cdk-drag-placeholder {
  opacity: 0.2;
  width: 100%;
  border: 2px dashed gray;
  margin: 0 10px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}
