<div>
    <h2 class="text-lg font-bold mb-2">All Scenes</h2>
    <input type="file"
        multiple
        accept="video/*"
        class="block w-full p-2 mb-4 border border-gray-300 rounded"
        (change)="onFileSelected($event)" />
    <ul class="space-y-4"
        cdkDropList
        id="scenes"
        #scenes="cdkDropList"
        [cdkDropListData]="videos"
        [cdkDropListConnectedTo]="['timeline']"
        (cdkDropListDropped)="drop($event)">
        <li *ngFor="let video of videos; let i = index"
            class="p-2 bg-gray-200 rounded shadow flex items-center gap-4"
            cdkDrag>
            <img [src]="video.preview"
                alt="Video preview"
                class="w-20 h-20 object-cover rounded" />
            <div class="flex-1">
                <h3 class="font-bold">{{ video.name }}</h3>
                <p class="text-sm text-gray-600">Duration: {{ video.duration }}s</p>
            </div>
            <div class="flex gap-2">
                <button (click)="playVideo(video.url)"
                    class="text-white p-2 rounded border border-gray-400 cursor-pointer hover:bg-gray-400 transition-all"
                    aria-label="Play video">
                    ▶️
                </button>
                <button (click)="removeVideo(i)"
                    class="text-gray-600 p-2 rounded border border-gray-400 cursor-pointer hover:bg-gray-400 transition-all"
                    aria-label="Delete video">
                    🗑️
                </button>
            </div>
        </li>
    </ul>
</div>