ul {
  list-style: none;
  padding: 0;
}

img {
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #b91c1c; /* Darker red for hover */
}
